<!-- Títul -->
<div class="hero-card-container">
    <div class="hero-card-content">
      <!-- Sección Izquierda: Textos -->
      <div class="left-section">
        <div class="label-section">
          <h1>Aviso Legal.</h1>
          <p>
            Conoce la información legal de nuestra página web y las condiciones de uso.
          </p>
        </div>
      </div>
  
      <!-- Sección Derecha: Imagen -->
      <div class="right-section">
        <img class="image-frame" src="assets/images/politicaDeCookies.jpg" />
      </div>
    </div>
  </div>
  
  <!-- Informació -->
  <div class="privacy-container" class="hero-card-container">
    <div class="privacy-content">
      <h2>1. IDENTIFICACIÓN DEL TITULAR</h2>
      <p>
        De conformidad con el artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico (LSSI-CE), se informa de los siguientes datos del titular del sitio web:
      </p>
      <ul>
        <li><strong>Titular:</strong> MICRODELTA SISTEMES INFORMATICS, S.L.</li>
        <li><strong>Domicilio:</strong> C/ SEBASTIA JUAN ARBO, 25 - 43870 AMPOSTA (Tarragona).</li>
        <li><strong>Email:</strong> administracio&#64;microdelta.net</li>
        <li><strong>Teléfono:</strong> 977 702 779</li>
      </ul>
  
      <h2>2. CONDICIONES DE USO</h2>
      <p>
        La navegación y el uso del sitio web implica la aceptación de las condiciones de uso. El titular se reserva el derecho de modificar la información del sitio web sin previo aviso, sin asumir responsabilidad por ello.
      </p>
  
      <h2>3. PROPIEDAD INTELECTUAL E INDUSTRIAL</h2>
      <p>
        El diseño, código fuente, logotipos, marcas y demás elementos del sitio web están protegidos por derechos de propiedad intelectual e industrial titularidad del propietario o de terceros, quedando prohibida su reproducción, distribución o transformación sin autorización previa.
      </p>
  
      <h2>4. EXCLUSIÓN DE RESPONSABILIDAD</h2>
      <p>
        El titular no será responsable de los daños derivados del acceso o uso de los contenidos del sitio web, ni de los errores que puedan producirse en el mismo.
      </p>
  
      <h2>5. LEGISLACIÓN Y JURISDICCIÓN APLICABLE</h2>
      <p>
        Para la resolución de cualquier conflicto o cuestión relacionada con este sitio web, será de aplicación la legislación española, y cualquier controversia se someterá a los juzgados y tribunales del domicilio del titular.
      </p>
    </div>
  </div>
  