<!-- Informarció -->
<div class="hero-card-container">
  <div class="hero-card-content">
    <!-- Secció Esquerra: Textos -->
    <div class="left-section">
      <div class="label-section">
        <h1>Empieza con el control horario.</h1>
        <p>
          Con Chronus Time tienes la posibilidad de probar durante 1 mes sin
          costes. Implantación totalmente gratuita. Solo pagas por uso de
          usuarios.
        </p>
      </div>
    </div>

    <!-- Secció Dreta: Foto -->
    <div class="right-section">
      <img class="image-frame" src="assets/images/controlHorario.webp" />
    </div>
  </div>
</div>

<!-- Plans de pagament -->
<div class="pricing-container">
  <h1 class="pricing-title">Plan de precios</h1>
  <p class="pricing-subtitle">
    Con Chronus Time puedes controlar las horas de tus empleados a un precio
    competitivo.
  </p>

  <div class="pricing-cards">
    <!-- Plan Gratis -->
    <div class="pricing-card">
      <div class="plan-header">
        <div class="plan-info">
          <h2 class="plan-title">Free</h2>
          <p class="plan-subtitle">Entorno de pruebas</p>
        </div>
        <div class="price">0€</div>
      </div>
      <ul class="features">
        <li>Dashboard activo durante 1 mes.</li>
        <li>Creación de usuarios.</li>
        <li>Fichajes con móvil.</li>
      </ul>
      <button class="btn attention" [routerLink]="['/pedir_una_demo']">Empezar</button>
    </div>

    <!-- Plan Estándar -->
    <div class="pricing-card">
      <div class="plan-header">
        <div class="plan-info">
          <h2 class="plan-title">All in</h2>
          <p class="plan-subtitle">Para pymes</p>
        </div>
        <div class="price">0,80€</div>
      </div>
      <ul class="features">
        <li>Todas las funcionalidades Chronus.</li>
        <li>Máximo 100 empleados.</li>
        <li>Actualizaciones FREE.</li>
        <li>Call Center incluido.</li>
        <li>Precio por Usuario/mes.</li>
        <li>Tarificación Trimestral.</li>
      </ul>
      <p class="note">IVA no incluido</p>
    </div>

    <!-- Plan Premium -->
    <div class="pricing-card">
      <div class="plan-header">
        <div class="plan-info">
          <h2 class="plan-title">Ultimate</h2>
          <p class="plan-subtitle">Para grandes compañías</p>
        </div>
        <div class="price">1,20€</div>
      </div>
      <ul class="features">
        <li>Todas las funcionalidades Chronus.</li>
        <li>Más de 100 empleados.</li>
        <li>Actualizaciones FREE.</li>
        <li>Call Center PRIORITY.</li>
        <li>Precio por Usuario/mes.</li>
        <li>Tarificación Trimestral.</li>
      </ul>
      <p class="note">IVA no incluido</p>
    </div>
  </div>
</div>

<!-- Hero Section -->
<div class="hero-container">
  <div class="hero-content">
    <div class="left-section">
      <h1 class="hero-title">
        Creemos que <br />
        El interior embellece la <br />
        Arquitectura Total
      </h1>
      <p class="hero-description">
        Disponemos de un Dashboard con infinidad de funciones adaptadas a tu
        empresa para un mejor control de los fichajes de tus empleados.
      </p>
      <div class="app-links">
        <a class="app-link" (click)="openAppleStore()">
          <img src="assets/images/app-store.webp" alt="iOS"
        /></a>
        <a class="app-link" (click)="openGooglePlay()"
          ><img src="assets/images/google-play.webp" alt="Android"
        /></a>
      </div>
    </div>
    <div class="right-section">
      <img class="hero-image" src="assets/images/carrusel1.webp" alt="App Image" />
    </div>
  </div>
</div>
