<app-navbar></app-navbar>

<div class="hero-container">
  <div class="hero-content">
    <div class="left-section">
      <div class="label-section">
        <h1>Control Horario.
            Fichajes.</h1>
        <p>
            Herramienta para el control de fichajes para tus empleados. Gestión de horarios laborales. Fichajes desde móvil, tablet, PC.
        </p>
      </div>
      <div class="button-group">
        <button class="btn primary">Crear cuenta gratuita</button>
        <button class="btn secondary">Acceso panel gestión</button>
      </div>
    </div>

    <div class="right-section">
      <div class="smartphone-container">
        <div class="smartphone">
          <div class="screen">
            <img src="https://images.unsplash.com/photo-1512941937669-90a1b58e7e9c?ixlib=rb-1.2.1" alt="App Interface" class="app-interface">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
